<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ثبت نام کاربر سایت</title>
</head>
<body style="background-color: #E6E6E6; direction: rtl">
<div class="container py-5">
    <div class="row justify-content-center">
        <div style="max-width: 65%">

            <div class="card border-0">
                <div class="card-body p-5">
                    <div style="direction: ltr" class="d-flex align-items-center justify-content-between mb-5">
                        <a href="http://localhost:8080" class="back-icon">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <h4 style="font-size: xx-large; color: #333333;"
                            class="text-center vazirBoldFont m-0">
                            ثبت نام کاربر سایت
                        </h4>
                        <span style="width:24px"></span>
                    </div>

                    <form action="http://localhost:8080/users" method="post">
                        <div class="mb-5 floating-group">
                            <input type="email" name="email" class="form-control form-btn p-3"
                                   placeholder="ایمیل"
                                   required>
                            <label class="form-label">ایمیل</label>
                        </div>

                        <div class="mb-5 floating-group">
                            <input type="text" name="username" class="form-control form-btn p-3" placeholder="نام کاربر"
                                   required>
                            <label class="form-label">نام کاربر</label>
                        </div>

                        <div class="mb-5 floating-group">
                            <input type="text" name="password" class="form-control form-btn p-3" placeholder="پسورد"
                                   required>
                            <label class="form-label">پسورد</label>
                        </div>


                        <div class="mb-5 floating-group">
                            <input type="text" name="address" class="form-control form-btn p-3"
                                   placeholder="آدرس"
                                   required>
                            <label class="form-label">آدرس</label>
                        </div>

                        <button style="border-radius: 30px; width: 100%; margin-top: 45px"
                                class="btn btn-submit p-2 d-flex justify-content-center align-items-center"
                                type="submit"><i class="fa fa-level-down btn-submit-arrow"></i>ثبت نام
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function handlePlaceholder() {
        document.querySelectorAll('.form-btn').forEach(el => {

            el.addEventListener('focus', e => {
                e.target.dataset.ph = e.target.placeholder;
                e.target.placeholder = "";
            });

            el.addEventListener('blur', e => {
                if (!e.target.value) {
                    e.target.placeholder = e.target.dataset.ph;
                }
            });

        });
    }

    handlePlaceholder();

</script>

</body>
</html>